.hybriddiv{
    h2{
        @include titles(relative, 1rem, uppercase, 'Cabin', .1875rem, $background-b);
        font-size: 2rem; 
        text-align: left; 
        margin-left: 1.2rem;
    }
}

.hybridp{
    p{
        @include paragraph(1rem, none, none, 'Roboto', 1rem, black, left);
        color: black;
        line-height: 1.4;
        text-align: justify;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}