.container-title{
    text-align: left;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    h1{
        @include titles(relative, 1.5rem, uppercase, 'Cabin', .1875rem, white);
        background-color: black;
        padding-left: .5rem;
        left: 0;
        right: 0;
        margin-bottom: 2rem;
        border-radius: 0.2rem;
    }
    h2 h3 h4 h5{
        @include titles(relative, 1.2rem, uppercase, 'Cabin', .1875rem, black);
        padding-top: 2rem;
    }
    p{
        @include paragraph(1rem, none, none, 'Roboto', 1rem, black, left);
        color: black;
        line-height: 1.4;
        text-align: justify;
        padding-bottom: 1rem;
    }
}

