.businessdiv{
    h2{
        @include titles(relative, 1rem, uppercase, 'Cabin', .1875rem, $background-b);
        font-size: 2rem; 
        text-align: left; 
        margin-left: 1.2rem;
    }
    p{
        @include paragraph(1rem, capitalize, none, 'Cabin', 1rem, black, left);
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}
